<!DOCTYPE html>
<html>
<head>
    <title>Cookies</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<nav>
    <h2>Session Tracking System</h2>
    <p>Harika P | 24WH1A05C8</p>
</nav>

<div class="main">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <a href="/dashboard">Dashboard</a>
        <a href="/activity">Activity</a>
        <a href="/cookie-test">Cookies</a>
        <a href="/logout">Logout</a>
    </div>

    <!-- CONTENT -->
    <div class="content">

        <div class="cards">

            <div class="card">
                <h3>Last Visit</h3>
                <p>{{lastVisit}}</p>
            </div>

            <div class="card">
                <h3>Current Visit</h3>
                <p>{{currentTime}}</p>
            </div>

        </div>

    </div>

</div>


</body>
</html>