<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<nav>
    <h2>Session Tracking System</h2>
    <p>Harika P | 24WH1A05C8</p>
</nav>

<div class="container">

    <div class="card" style="text-align:center; max-width:400px; margin:auto;">

        <h3>Are you sure you want to logout?</h3>

        <br>

        <a href="/logout-final" class="button">Yes, Logout</a>
<a href="/dashboard" class="button cancel">Cancel</a>
    </div>

</div>

</body>
</html>